@media  (min-width: 600px){
    body{
        display: grid;
        grid-template-areas: "cabecalho cabecalho"
                            "about about"
                            "habilidades habilidades"
                            "projetos projetos"
                            "contacts contacts";
    }
    /*  Cabecalho */
    .cabecalho{
        grid-area: cabecalho;
        display: flex;
        justify-content: space-between;
        height: 80px;
        border-bottom: solid 2px blue;
    }
    .cabecalho menu{
        display: none;
    }
    .cabecalho nav ul {
        display: flex;
        align-self: flex-end;
        
    }

    .cabecalho nav ul li{
        margin-left: 10px;
    }

    /*           SOBRE       */

    main{
        width: auto;
    }

    .about{
        grid-area: sobre;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

   

    .foto img{
        width: 390px;
        height: 390px;
    }

    .about p{
        font-size: 20px;
        line-height: 40px;
    }

    
    .sobre h2{
        font-size: 32px;
    }

    .sobre{
        padding-right: 30px ;
    }

    
  /* habilidades */
    .habilidades{
        grid-area: habilidades;
    }
    .habilidades .tecnologias{
        display: flex;
        justify-content: center;
    }
    .stack img{
        width: 100px;
        height: 100px;
    }
            /* Projetos*/
    .projects{
        grid-area: projetos;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project{
        width: 400px;
        margin-left: 5px;
        border-radius: 10px;
    }

    .project img{
        margin-top: 10px;
    }

    /*     Contato    */

    .contacts{
        grid-area: contacts;
        border-top: solid 2px blue;
       
    }

    .contacts h2{
        margin-top: 10px;
    }

    .social ul li a img{
        width: 50px;
        height: auto;
    }
    .social ul{
        margin-top: 30px;
    }


}